@{
    ViewData["Title"] = "About";
}

<h1>Here we go, adding an extra h1 in our task branch.</h1>
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


<p>Here are some random changes to test committing things and such.</p>  

